:host {
  flex: 0 0 auto;
}

.bottom-nav {
  height: 64px;
  border-top: 1px solid #dee2e6;
}

.bottom-nav .nav-link {
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

.bottom-nav .nav-link.active {
  // color: #0d6efd;
  background: none;
}

.bottom-nav i {
  font-size: 20px;
}
