/* You can add global styles to this file, and also import other style files */
// @use "bootstrap/scss/bootstrap";

body, html {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 14px;
  background: #eee;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  flex: 0 0 auto;
  z-index: 1030;
}

.app-content {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  // padding-bottom: 80px;
}

app-bottom-nav {
  flex: 0 0 auto;
}


.card {
  border: 0;
}

.badge {
  padding: 8px 8px;
  border-radius: 100px;
}
