/* You can add global styles to this file, and also import other style files */
// @use "bootstrap/scss/bootstrap";

body, html {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 14px;
  background: #eee;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  flex: 0 0 auto;
  z-index: 1030;
}

.app-content {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  // padding-bottom: 80px;
}

app-bottom-nav {
  flex: 0 0 auto;
}


.card {
  border: 0;
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.033);
}

.badge {
  padding: 8px 8px;
  border-radius: 100px;
}

@media only screen and (max-width: 480px) {
  table.table {
    line-height: 14px;
    font-size: 11px;
    padding: 6px;
  }

  table td.day-cell * {
    font-size: 8px;
  }

  table td.day-cell .day {
    font-size: 11px;
  }
}